{{#if robots}}
<div class="row">
  <div class="col-3">

  </div>
  <div class="col-6">

<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav float-left center">
      {{#each robots}}
      <li class="nav-item active" style="padding-left:10px;padding-right:10px">
        <button type="button" class="nav-link btn_{{name}}">{{name}}</button>
      </li>
      {{/each}}
    </ul>
  </div>
  </div>
</nav>
</div>
{{/if}}
<h1 style="padding-top:30px">Bonjour {{user.username}}</h1>
<div class="row" style="padding-top:30px">
  <div id="video" class="col-6">
    <video controls="controls" src="videos/robot1.mkv" style="width:530px">
    </video>
  </div>
  <div class="col-6">
    <div id="map" style="height: 100%;"></div>
  </div>

</div>
<script type="text/javascript"
  src="/js/jquery.js">
</script>
<script>
var results2;
$(document).load(function(){
  $.get("/map", function(data, status){
    results2 = data;
  });
  var button;
  console.log("ready");
  for(var i = 0 ; i < results2.length ; i++){
    button = ".btn_"+results2[i].name;
    $(button).click(function(){
      $("#video").html("<div id=\"video\" class=\"col-6\"><video controls=\"controls\" src=\"videos/"+results2[i].video+".mkv\" style=\"width:530px\"></video></div>");
      console.log("btn pressed");
    });
  }

});
</script>
<script>
var results
$.get("/map", function(data, status){
  results = data;
});
function initMap() {
  var uluru = new google.maps.LatLng(results[0].lat,results[0].long);
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: uluru
  });
  for(var i = 0 ; i<results.length;i++){
    uluru = new google.maps.LatLng(results[i].lat,results[i].long);
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
}
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBY47KNWRoDeTOptbalDt8_YEksl_PuCNE&callback=initMap">
</script>
