<form method="post" action="/register" style="padding-top:50px">
  <div class="form-group">
    <label>Nom d'utilisateur</label>
    <input class="form-control" type="text" name="name" placeholder="Nom d'utilisateur" >
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" type="email" name="email" placeholder="Email d'utilisateur" >
  </div>
  <div class="form-group">
    <label>Mot de passe</label>
    <input class="form-control" type="password" name="password" placeholder="Password" >
  </div>
  <div class="form-group">
    <label>Valider le mot de passe</label>
    <input class="form-control" type="password" name="password2" placeholder="Password" >
  </div>
  <button class="form-control btn btn-outline-dark btn-sm" type="submit">S'inscrire</button>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-9">

    </div>
    <div class="col-lg-3 center">
      <p>vous avez un compte!</p>
      <div class="col-lg-4"></div>
      <div class="col-lg-8">
        <a href="/login" class="btn btn-outline-light btn-sm">Connectez vous</a>
      </div>
    </div>
  </div>
</form>
